.texpadtmp/
texpadtmp/
.DS_Store
.texpadtmp/d4m.aux
.texpadtmp/d4m.aux
.texpadtmp/d4m.log
.texpadtmp/d4m.synctex.gz
.texpadtmp/d4m.toc
.texpadtmp/d4m.aux
.texpadtmp/d4m.aux
.texpadtmp/d4m.log
.texpadtmp/d4m.synctex.gz
.texpadtmp/d4m.toc
.texpadtmp/d4m.aux
.texpadtmp/d4m.bbl
.texpadtmp/d4m.blg
.texpadtmp/d4m.log
.texpadtmp/d4m.out
.texpadtmp/d4m.synctex.gz
.texpadtmp/d4m.toc
.texpadtmp/d4m.aux
.texpadtmp/d4m.bbl
.texpadtmp/d4m.blg
.texpadtmp/d4m.log
.texpadtmp/d4m.out
.texpadtmp/d4m.synctex.gz
.texpadtmp/d4m.toc
.texpadtmp/d4m.synctex.gz
.texpadtmp/d4m.log
